$name: mu-block-text;

.#{$name}
{
	font-size: 1rem;

	.#{$name}__content
	{
		p
		{
			&:last-child
			{
				margin-bottom: 0;
			}
		}

		img
		{
			width: 100%;
			height: auto;
			border-radius: 8px;
		}
	}
}