// out: false

// FUENTES
	$font-primary: 'Montserrat', sans-serif;
	$font-secondary: 'Lilita One', cursive;


// COLORES
	$color-primary: #ffbb00;
	$color-secondary: #ffbb00;


// MENÚ
	$menu-header-link: rgba(255, 255, 255, 1);
	$menu-header-link-active: rgba(255, 187, 0, 1);
	$menu-header-link-hover: rgb(90, 216, 157);
	$menu-header-border: rgba(255, 187, 0, 1);