// out: false

// FUENTES
	$font-primary: 'Montserrat', sans-serif;
	$font-secondary: 'Lilita One', cursive;


// COLORES
	$color-primary: #ffbb00;
	$color-secondary: #ffbb00;

// BOOTSTRAP
	$primary:       #ffbb00;
	$body-bg: 		#fff;
	$body-color:	#444;
	$border-radius: 0;
	$border-width: 1px;
	$grid-columns:                12;
	//$secondary:     $gray-600 !default;
	//$success:       $green !default;
	//$info:          $cyan !default;
	//$warning:       $yellow !default;
	//$danger:        $red !default;
	//$light:         $gray-100 !default;
	//$dark:          $gray-900 !default;


// MENÚ
	$menu-header-link: rgba(255, 255, 255, 1);
	$menu-header-link-active: rgba(255, 187, 0, 1);
	$menu-header-link-hover: rgb(90, 216, 157);
	$menu-header-border: rgba(255, 187, 0, 1);