.menu-header {
  border-bottom: 2px solid #ffbb00;
}

.menu-header .navbar-nav .nav-link {
  color: white;
}

.menu-header .navbar-nav .nav-link.active, .menu-header .navbar-nav .nav-link.show {
  color: #ffbb00;
}

.menu-header .navbar-nav .active .nav-link {
  color: #ffbb00;
}

.menu-header .navbar-nav .show .nav-link {
  color: #ffbb00;
}
