//out: ../css/theme-admin.min.css,  compress: true

@import url("https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap-grid.min.css");

/* Main column width */
	.wp-block
	{
		max-width: 992px;
	}

/* Width of "wide" blocks */
	.wp-block[data-align="wide"]
	{
		max-width: 1080px;
	}

/* Width of "full-wide" blocks */
	.wp-block[data-align="full"]
	{
		max-width: none;
	}