// out: ../css/theme.min.css, compress: true, autoprefixer: last 2 versions

@import "components/bootstrap";
@import "components/fonts";
@import "components/wp-block-library";
@import "components/menu.scss";

html,
body
{
	font-family: $font-primary;
	font-size: 100%;
}

h1,h2,h3,h4,h5,h6
{
	font-family: $font-secondary;
}

h1
{
	font-size: 3em;
}

h2
{
	font-size: 2.5em;
}

h3
{
	font-size: 2em;
}

p
{
	font-size: 1em;
}

section
{
	font-size: 1.2rem;
}

aside
{
	font-size: 0.9rem;
}