// out: ../css/theme.min.css, compress: true, autoprefixer: last 4 versions

@import "components/variables";

// Bloques de ACF.
@import "../../mu-blocks/style";


@import "components/bootstrap-hacks";
@import "components/wp-block-library";
@import "components/menu.scss";

html
{
	font-size: 100%;
}
body
{
	font-family: $font-primary;
	font-size: 1rem;
}

h1,h2,h3,h4,h5,h6
{
	font-family: $font-secondary;
}

h1
{
	font-size: 3em;
}

h2
{
	font-size: 2.625em;
}

h3
{
	font-size: 2.25em;
}

p
{
	font-size: 1em;
}

a
{
	font-size: 1em;
}

img
{
	font-size: 1em;
}

section
{
	font-size: 1rem;
}

aside
{
	font-size: 1rem;

	h2
	{
		font-size: 2.375em;
	}

	h3
	{
		font-size: 2em;
	}

	p
	{
		font-size: 0.875em;
	}
}